package ${package.Service};

import ${package.Entity}.${entity};
import ${superServiceClassPackage};

/**
 *
 * $!{table.comment} 服务类
 *
 * @author ${author}
 * @since ${date}
 */
#if(${kotlin})
interface ${table.serviceName} : ${superServiceClass}<${entity}>
#else
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {

    /**
     * 分页带条件查询${entity}
     * @param ${table.entityPath}
     * @return
     */
    public List<${entity}> pageByParams(${entity} ${table.entityPath});

    /**
     * 修改所有字段为新值
     * @param  ${table.entityPath}
     * @return
     */
    public boolean updateAllById(${entity} ${table.entityPath});

    /**
     * 修改指定字段为新值
     * @param ${table.entityPath}
     * @return
     */
    public boolean updateSpecifyById(${entity} ${table.entityPath});

}
#end
