<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.anlucky.luckyadmin.system.mapper.SysRolesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.anlucky.luckyadmin.system.pojo.SysRoles">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="sort" property="sort" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, `name`, `description`, sort, create_time, create_by, update_time, update_by
    </sql>
    <select id="getRolesByUserId" resultType="cn.anlucky.luckyadmin.system.pojo.SysRoles">
        SELECT
            r.id,
            r.name,
            r.description,
            r.sort,
            r.create_time,
            r.create_by,
            r.update_time,
            r.update_by
        FROM
            sys_user_roles ur
        LEFT JOIN
            sys_roles r ON r.id = ur.role_id
        WHERE
            ur.user_id = #{userId}
    </select>

    <select id="getPermissionByRoleIds" resultType="java.lang.String">
        SELECT
            m.roles
        FROM
            sys_menus m
                LEFT JOIN
            sys_roles_menus rm on rm.menu_id = m.id
        WHERE
            m.menu_type = 'F'
          AND rm.role_id = #{roleId}
    </select>

    <select id="getWebMenusId" resultType="java.lang.Long">
        WITH RECURSIVE menu_tree AS (
            -- 初始查询，找出 parent_id 为 -1 的菜单
            SELECT id, parent_id
            FROM sys_menus
            WHERE parent_id = 0
            UNION ALL
            -- 递归查询，找出子菜单
            SELECT sm.id, sm.parent_id
            FROM sys_menus sm
                     JOIN menu_tree mt ON sm.parent_id = mt.id
        )
        SELECT id
        FROM menu_tree;
    </select>
    <select id="getAppMenusId" resultType="java.lang.Long">
        WITH RECURSIVE menu_tree AS (
            -- 初始查询，找出 parent_id 为 -1 的菜单
            SELECT id, parent_id
            FROM sys_menus
            WHERE parent_id = -1
            UNION ALL
            -- 递归查询，找出子菜单
            SELECT sm.id, sm.parent_id
            FROM sys_menus sm
            JOIN menu_tree mt ON sm.parent_id = mt.id
        )
        SELECT id
        FROM menu_tree;
    </select>

</mapper>
